.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  gap: 64px;
  font-family: var(--font-geist-sans);
}

.main {
  width: 100%;
  max-width: 800px;
  min-width: 330px;
  margin: 10px auto;
  border: 1px solid black;
}
.itemCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  margin-bottom: 10px;
  border: 1px solid black;
}
.itemCard:last-child {
  margin-bottom: 0;
}
.itemCard span:first-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  margin-right: 10px;
}

.itemCard,
.motion {
  padding: 10px;
}

.itemCard button {
  padding: 10px;
  border: 2px solid black;
  background: none;
  cursor: pointer;
}
.itemCard button:hover {
  border: 2px solid rgb(170, 16, 16);
  color: rgb(170, 16, 16);
  transition: all 0.4s ease-out;
}


.removing {
  transform: translateX(100%); /* Сдвиг вправо */
  opacity: 0; /* Прозрачность при удалении */
}
